<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息技术中心临时办证</title>
</head>
<body>
<center>
    <h3>办证页面</h3>
    <div>
        <form action="/banzhengProcess" method="post">
        办证信息: <input type="text" name="nm"><br>
        <input type="submit" name="submit" value="办证">
        </form>
    </div>
</center>
  <hr>

<p>使用模版,按照下面的改</p>
   <p>王冬梅@@@校区；日期；车牌；人名1：身份证号1，人名2：身份证号2；_@_校区2；日期2；车牌2；人名1：身份证号2，人名2：省份证号2</p>
<hr>
<p>使用说明:</p>
<p>@@@前面是要办证的提交人,@@@后面是办证内容</p>
<p>_@_用来完成一次办理多张不同通行证,只需办一张不要_@_ 及其后面的信息.如果没有车牌信息,则用空格代替</p>
<p>；，：所有符号均是中文下面的</p>

   <br>

</body>
</html>